body{
  padding: 0;
  margin: 0 auto;
  width: 1020px;
}

/*--------------------header----------------------*/
header{
  widows: 100%;
  margin: 0 auto;
}

.title{
  visibility: hidden;
  height: 0;
  margin: 0;
}

nav{
  width: 1020px;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 5;
}
nav ul{
  background-color: #323232;
  margin: 0;
  padding: 0;
  padding-left: 4px;
  height: 63px;
}

nav li{
  margin: 0;
  padding: 5px 0;
  font-family: Lato, "Sans Serif";
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
  list-style-type: none;
  height: 63px;
  line-height: 63px;
}

nav>ul>li>a{
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  text-decoration: none;
}

nav>ul>li>a:hover{
  color: #2eb398;
}

.logo-img{
  margin: 0px 34px 0px 34px;
}

nav img{
  vertical-align: middle;
}

nav a:visited{
  color: white;
}

.separator{
  color: #474c5f;
  font-size: 12px;
  font-weight: 700;
  margin: 0 8px;
}

.triangle{
  width: 0;
  height: 0;
  margin: -26px auto -26px auto;
  border-style: solid;
  border-width: 52px 90px 0 90px;
  border-color: #323232 transparent transparent transparent;
  z-index: 0;
}

.header-line{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-line::before{
  display: inline-block;
  width: 40%;
  content: "";
  border-top: 1px solid #e4e9eb;
  margin-right: 7%;
}
.header-line::after{
  display: inline-block;
  width: 40%;
  content: "";
  border-top: 1px solid #e4e9eb;
  margin-left: 7%;
}


/*--------------------PORTFOLIO----------------------*/
.hex-row{
  display: -webkit-flex; 
  display: flex;
  justify-content: center; 
}

.hex-row1{
  margin-top: 63px; 
}

.hex-row2{
  margin-top: -61px; 
}

.hex-row3{
  margin-top: -61px; 
}

.hex {
    margin: 10px;
    width: 180px;
    height: 209px;
    transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
}

.hex-inside {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  overflow: hidden;
}

.hex-image {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  visibility: visible;
  background-position: center;
}

.hex-image:hover{
  background-size: cover;
  filter: brightness(55%);
  -webkit-filter: brightness(55%);
  cursor: pointer;
}

.hex1-1{
  background-image: url("../assets/hex-1.png");
  background-position: -22px -11px;
}
.hex1-2{
  background-image: url("../assets/hex-2.png");
}
.hex1-3{
  background-image: url("../assets/hex-3.png");
}
.hex1-4{
  background-image: url("../assets/hex-4.png");
}
.hex2-1{
  background-image: url("../assets/hex-5.png");
}
.hex2-2{
  background-image: url("../assets/hex-6.png");
}
.hex2-3{
  background-image: url("../assets/hex-7.png");
}
.hex2-4{
  background-image: url("../assets/hex-8.png");
}
.hex2-5{
  background-image: url("../assets/hex-9.png");
}
.hex3-1{
  background-image: url("../assets/hex-10.png");
}
.hex3-2{
  background-image: url("../assets/hex-11.png");
}
.hex3-3{
  background-image: url("../assets/hex-12.png");
}
.hex3-4{
  background-image: url("../assets/hex-13.png");
}

/*-------SLIDER---------*/
.slider{
  margin-top: 48px;
  display: flex;
  width: 100%;
  margin-left: 30px;
}

.slider a{
  display: inline-block;
  box-sizing: border-box;
  height: 6px;
  width: 6px;
  border: 1px solid #ddd2c5;
  background-color: #ddd2c5;
  margin: 0;
  margin-right: 3px;
  padding: 0;
  text-decoration: none;
}

.slider a:hover{
  border: 1px solid #8b8784;
  background-color: #8b8784;
}

.portfolio-line{
  margin: 11px auto;
  width: 94%;
  border-top: 1px solid #e4e9eb;
}

/*-----------------ABOUT---------------*/
.about{
  background-color: #2eb398;
  padding: 12px 0 12px 0;
  margin: 0;
}
.person{
  display: flex;
  align-items: center;
  width: 800px;
  height: 317px;
  margin: 0 auto;
	padding: 0 10px;
  border-left: 1px solid #219d84;
  border-right: 1px solid #219d84;
}

.hex-author{
  flex-shrink: 0;
}
.img-author{
  background-image: url("../assets/anderson-photo.jpg");
  pointer-events: none;
}

.author-info{
	font-family: "Maven Pro", "Sans Serif";
	margin: -1px 9px 1px 9px;
}
.author-info h2{
  font-weight: 400;
	font-size: 1.85em;
  color: rgba(215, 252, 245, 255);
  margin-top: 0;
  margin-bottom: 5px;
}
.author-info h3{
	font-weight: 400;
  font-size: 1.1em;
  margin-top: 3px;
  margin-bottom: 12px;
}
.author-info p{
	font-size: 12px;
	line-height: 1.85em;
	font-family: ﻿Lato, ﻿"Sans Serif";
  font-weight: 400;
  color: rgba(215, 252, 245, 255);
  text-align: justify;
	word-spacing: -.35ch;	
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
  -ms-hyphens: auto;
}

.social-icons{
  display: flex;
  margin-top: 35px;
  margin-bottom: 0px;
  align-self: flex-end;
  justify-content: flex-end;
}

.social-icons a{
  margin: 0;
  padding: 0;
}

.social-icon-img{
  margin: 0;
  padding: 0;
}

.social-icon-img:hover{
  filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
}

/*----------------------GET-IN-TOUCH---------------------------------------*/
.get-in-touch{
  background-color: #323232;
  font-family: "Maven Pro", "Sans Serif";
  margin: 0;
}

.get-in-touch::before{
  display: inline-block;
  width: 94%;
  margin: -12px 3% 0px 3%;
  content: "";
  border-bottom: 1px solid #2b2b2b;
}

.get-in-touch::after{
  display: inline-block;
  width: 94%;
  margin: 0px 3% 10px 3%;
  content: "";
  border-top: 1px solid #2b2b2b;
}

.get-in-container{
  width: 780px;
  margin: -16px auto -10px auto;
  padding-top: 62px;
  padding-bottom: 62px;
  font-family: "Lato", "Sans Serif";
}

.form-contact{
  display: flex; 
}

.get-in-touch h2{
  font-family: "Maven Pro", "Sans Serif";
  font-weight: 400;
	font-size: 1.85em;
  color: #e0e0e0;
  margin-top: 0;
  margin-bottom: 5px;
  word-spacing: 0.1ch;
}
.get-in-touch h4{
  font-family: "Maven Pro", "Sans Serif";
  font-weight: 400;
  color: #e0e0e0;
  font-size: 1.1em;
  margin-top: 3px;
  margin-bottom: 12px;
  word-spacing: 0.1ch;
}

.get-form{
  width: 580px;
  height: 370px;
  padding: 0px 4px 0px 0px;
}
.get-form input, textarea{
  box-sizing: border-box; 
  width: 100%;
  height: 38px;
  margin: 8px 0px;
  padding: 0px 15px;
  line-height: 25pt;
  font-family: "Lato", "Sans Serif";
  font-size: 11px;
  font-weight: 400;
  background-color: #454545;
  border: none;
}

.get-form textarea{
  line-height: 25pt;
  height: 150px;
  margin: 8px auto;
  padding: 2px 15px;
  word-spacing: 0.1ch;
  color: #bebebe;
  border: none;
  resize: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bebebe;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bebebe;;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bebebe;
}

.get-form button{
  font-family: "Lato", "Sans Serif";
  font-weight: 400;
  font-size: 12px;
  padding: 11px 28px 11px 30px;
  background-color: #2eb398;
  color: #d7fcf5;
  border: none;
  float: right;
  margin-top: 7px;
}

.contact-info{
  width: 180px;
  margin-left: 15px;
  padding-top: 4px;
  padding-left: 2px;
  font-family: "Lato", "Sans Serif";
  font-size: 12px;
  color: #bebebe;
}

.person-info{
  text-align: justify;
  line-height: 1.8em;
}

.person-info strong{
  font-weight: 900; 
}

.contacts{
  margin-top: 36px;
}
.contacts li{
  font-weight: 700;
  list-style-type: none;
  margin-bottom: 6px;
}
.contacts a, .address{
  margin-left: 11px;
  text-decoration: none;
  color: #bebebe;
}

.contacts a:hover{
  color: #2eb398;
}

.material-icons{
  font-size: 14px;
  display: inline;
  margin-left:-1px; 
}

.phone-icon{
  display: inline-block;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Safari 3-8 */
  transform: rotate(-90deg);
}


/*------------------------FOOTER------------------------*/
footer{
  display: flex;
  height: 44px;
  width: 100%;
  background-color: #222222;
}

footer p{
  align-self: center;
  margin-left: 39px; 
  font-family: "Maven Pro", "Sans Serif";
  font-weight: 400;
  color: #434343;
  font-size: 11px;
  word-spacing: 0.25ch;
}