header{
  width: 1020px;
  margin: 0 auto;
  padding: 0;
}

.title{
  visibility: hidden;
  height: 0;
  margin: 0;
}

nav{
  width: 1020px;
  text-align: center;
  position: relative;
  margin: 0;
  z-index: 5;
}
nav ul{
  background-color: #323232;
  margin: 0;
  padding: 0;
  height: 60px;
}

nav li{
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
  list-style-type: none;
  height: 60px;
  line-height: 60px;
}

nav a{
  text-align: center;
  padding: 0px 12px;
  text-decoration: none;
  color: white;
  text-decoration: none;
}

nav a:hover{
  color: #2eb398;
}
img{
  margin: 0;
  vertical-align: middle;
}

nav a:visited{
  color: white;
}

.separator{
  color: #474c5f;
  font-size: 12px;
  font-weight: 700;
}

.triangle{
  width: 0;
  height: 0;
  margin: -26px auto 0 auto;
  border-style: solid;
  border-width: 52px 90px 0 90px;
  border-color: #323232 transparent transparent transparent;
  z-index: 0;
}
