body{
  padding: 0;
  margin: 0 auto;
  width: 1020px;
}

/*--------------------header----------------------*/
header{
  widows: 100%;
  margin: 0 auto;
}

.title{
  visibility: hidden;
  height: 0;
  margin: 0;
}

nav{
  width: 1020px;
  text-align: center;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 5;
}
nav ul{
  background-color: #323232;
  margin: 0;
  padding: 0;
  padding-left: 4px;
  height: 63px;
}

nav li{
  margin: 0;
  padding: 5px 0;
  font-family: Lato, "Sans Serif";
  font-size: 10px;
  font-weight: 700;
  display: inline-block;
  list-style-type: none;
  height: 63px;
  line-height: 63px;
}

nav>ul>li>a{
  text-align: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  text-decoration: none;
}

nav>ul>li>a:hover{
  color: #2eb398;
}

.logo-img{
  margin: 0px 34px 0px 34px;
}

nav img{
  vertical-align: middle;
}

nav a:visited{
  color: white;
}

.separator{
  color: #474c5f;
  font-size: 12px;
  font-weight: 700;
  margin: 0 8px;
}

.triangle{
  width: 0;
  height: 0;
  margin: -26px auto -26px auto;
  border-style: solid;
  border-width: 52px 90px 0 90px;
  border-color: #323232 transparent transparent transparent;
  z-index: 0;
}

.header-line{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header-line::before{
  display: inline-block;
  width: 40%;
  content: "";
  border-top: 1px solid #e4e9eb;
  margin-right: 7%;
}
.header-line::after{
  display: inline-block;
  width: 40%;
  content: "";
  border-top: 1px solid #e4e9eb;
  margin-left: 7%;
}


/*--------------------PORTFOLIO----------------------*/
.hex-row{
  display: -webkit-flex; 
  display: flex;
  justify-content: center; 
}

.hex-row1{
  margin-top: 63px; 
}

.hex-row2{
  margin-top: -61px; 
}

.hex-row3{
  margin-top: -61px; 
}

.hex {
    margin: 10px;
    width: 180px;
    height: 209px;
    transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
}

.hex-inside {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  overflow: hidden;
}

.hex-image {
  width: 100%;
  height: 100%;
  transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  visibility: visible;
  background-position: center;
}

.hex1-1{
  background-image: url("../assets/hex-1.png");
  background-position: -22px -11px;
}
.hex1-2{
  background-image: url("../assets/hex-2.png");
}
.hex1-3{
  background-image: url("../assets/hex-3.png");
}
.hex1-4{
  background-image: url("../assets/hex-4.png");
}
.hex2-1{
  background-image: url("../assets/hex-5.png");
}
.hex2-2{
  background-image: url("../assets/hex-6.png");
}
.hex2-3{
  background-image: url("../assets/hex-7.png");
}
.hex2-4{
  background-image: url("../assets/hex-8.png");
}
.hex2-5{
  background-image: url("../assets/hex-9.png");
}
.hex3-1{
  background-image: url("../assets/hex-10.png");
}
.hex3-2{
  background-image: url("../assets/hex-11.png");
}
.hex3-3{
  background-image: url("../assets/hex-12.png");
}
.hex3-4{
  background-image: url("../assets/hex-13.png");
}

/*-------SLIDER---------*/
.slider{
  margin-top: 48px;
  display: flex;
  width: 100%;
  margin-left: 30px;
}

.slider a{
  display: inline-block;
  box-sizing: border-box;
  height: 6px;
  width: 6px;
  border: 1px solid #ddd2c5;
  background-color: #ddd2c5;
  margin: 0;
  margin-right: 3px;
  padding: 0;
  text-decoration: none;
}

.slider a:hover{
  border: 1px solid #8b8784;
  background-color: #8b8784;
}

.portfolio-line{
  margin: 11px auto;
  width: 94%;
  border-top: 1px solid #e4e9eb;
}

/*-----------------ABOUT---------------*/
.about{
  background-color: #2eb398;
  padding: 12px 0 12px 0;
  margin: 0;
}
.person{
  display: flex;
  align-items: center;
  width: 800px;
  height: 317px;
  margin: 0 auto;
	padding: 0 10px;
  border-left: 1px solid #219d84;
  border-right: 1px solid #219d84;
}

.hex-author{
  flex-shrink: 0;
}
.img-author{
  background-image: url("../assets/anderson-photo.jpg");
}
.author-info{
	font-family: "Maven Pro", "Sans Serif";
	margin: 0 10px;
}
.author-info h2{
  font-weight: 400;
	font-size: 1.85em;
	color: rgba(215, 252, 245, 255);
}
.author-info h3{
	font-weight: 400;
	font-size: 1.1em;
}
.author-info p{
	font-size: 12px;
	line-height: 1.85em;
	font-family: ﻿Lato, ﻿"Sans Serif";
  font-weight: 400;
  color: rgba(215, 252, 245, 255);
  text-align: justify;
	word-spacing: -.35ch;	
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
}

.social-icons a{
  display: inline-block;
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border: 1px solid #ddd2c5;
  background-color: #ddd2c5;
  margin: 0;
  margin-right: 3px;
  padding: 0;
  text-decoration: none;
}
